@charset "UTF-8";

@use 'bulma/sass';

html, body, #root {
    height: 100vh;
    overflow: hidden;
}

#app {
    min-height: 100vh;
    overflow: auto;
    padding: 1.5rem;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#admin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}